

  <header >
      <h1>TodoList du jour</h1>

 <form (submit)="addTodo(inputData.value); inputData.value=''">
            <input #inputData name="inputData" class="new-todo" placeholder="Ajouter une nouvelle tâche" autofocus />

          <button type="submit" class="add">Ajouter</button>
                <div>
            
                <img style="margin-top:-50px" src="./assets/img/micro.svg" 
                alt="microphone"
        height="50px"
        width="50px"    (click)="start()"         >
            <button [disabled]="!started" (click)="stop()">end</button>
                
                </div>
      </form>


  <button type="button" 
(click) = "Annuler()">&#8855; Annuler</button>

<button type="button" 
(click) = "Retablir()">&#8634; Rétablir</button>
<div [hidden] = "vide()">
      <input type="checkbox" name="toggleAll" [ngModel]="tousCheck()" (click)="changeCheck()" >
      Tout cocher
    </div>
  <table>
  
            <app-todo-item [data]="item"
            *ngFor="let item of getitemfiltre()" class= 'todo-item' [ngClass]="{'checker' : item.check}" [class.edite]="cItem.edite"
             #cItem>
            </app-todo-item>
      </table>

    <footer [hidden] = "vide()">
      <span><strong></strong> {{tachesRestantes()}} {{affichagetache()}} </span>
            <table>
                <tr><td><a class="filterAll" (click)="filtreCourant = filterAll" [class.selected]="currentFilter === filterAll">Tous</a></td>
                    <td><a class="Activesfiltre" (click)="filtreCourant = filterUnCheck" [class.selected]="filtreCourant === filterUnCheck">Actifs</a></td>
                        <td> <a class="FiltreComplete" (click)="filtreCourant = filterCheck" [class.selected]="filtreCourant === filterCheck">Complétés</a></td>
                        </tr>
            </table>  
      <button *ngIf="nbitemcoche()!==0" (click)="SuppTodoCoche()">Supprimer cochées</button>
  </footer>
