/* CSS de la todo list component */
h1 {
    text-align: center;
  }

  th{
    font-size: 20px;
    background-color: #eaf6ff;
    font-style: italic;
    padding : 8px;
    text-align: center;
  }
  agm-map {
    height: 300px;
  }
  .sebm-google-map-container {
    height: 300px;
  }
  .sebm-google-map-container {
    height: 300px;
  }
 
  table{
    border-spacing : 0;
    border-collapse : collapse;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: auto;
    text-align: center;
  }
  .todo-item{
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
  }
  .todolabel{
    text-align: center;
  }
  div{
    margin-top: 50px;
    margin-left : 40px;
    font-size: 20px;
    text-align: center;
  }
  .add {
    display:block;
    margin: auto;
    font-size: 15px;
    text-align: center;
  }
  button {
    font-size: 15px;
    margin-left : 15px;
  
  }
  .checker {
    text-decoration: line-through;
  }
  .nom {
    margin-right: 900px;
    font-family: AppleGothic;
    font-size: small;
  
  }
  